body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    background-color: #000000;
}

  /* ========================
   Header and footer Section
   ======================== */

.maincontainer, .maincontainer1, .maincontainer2{
    margin-top: 90px !important;
    margin-bottom: 90px !important;
    padding-top: 30px;
    padding-bottom: 30px; 
    scroll-margin-top: 1120px; /* Adjust this to match the height of your header */
}   
.heroo{
    margin-top: 190px !important;
}
header {
    display: flex; 
    align-items: center;               
    justify-content: space-between;       
    height: 150px;                     
    padding: 0 20px;                 
    box-sizing: border-box;                                    
    position: fixed;                 
    top: 0;                             
    left: 0;                           
    right: 0;                           
    z-index: 1000;                     
    background-color:#000000;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


header:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: transform 0.3s ease-in-out; /* Smooth animation */
}
.social-icon {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn1 {
    color: #ffffff !important;
    background-color: #000000;
    border: 1px solid #bbb;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer; /* Make sure it behaves like a button */
    display: inline-flex; /* Make sure content aligns well */
    align-items: center; /* Aligns the icon and text */
    justify-content: center; /* Center the content */
}

.btn1 {
  color: #000000 !important;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.btn2 {
  color: #ffffff !important;
  background-color: #000000;
  border: 1px solid #bbb;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.btn1:hover, .btn2:hover {
  background-color: #00bfa6;
  color: #000000 !important;
  border-color: #000000;
  transform: scale(1.05);
}

.btn1 i, .btn2 i {
  margin-right: 8px;
}

.social-icon img {
  width: 45px;
  height: 45px;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover img {
  transform: scale(1.1);
}

footer {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;  
    background-color: #222222; 
   
}
h1, h2, h3, h4, h5 ,h6 ,p{
    color: #ffffff;
}
header nav {
    display: flex;
    gap: 20px;
    overflow: hidden;
}
header nav a {
    color: #ffffff !important;
    display: inline-block; /* makes transform work better */
    transform-origin: center;
    
    font-size: large;
    
}

header nav a:hover, footer nav a:hover{
    color: #00bfa6 !important;
    text-decoration: overline !important;
}
footer nav {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    overflow: hidden;
}
footer nav a{
    text-decoration: none;    
}
.navbar .navbar-brand {  
    margin: 0 15px;
}
.footer-copy {
    color: #ffffff !important;
     font-size: 0.9rem; 
     font-weight: ;
   }


   @media (max-width: 768px) {
    footer{
        height: 570px;
    }
    header nav{
        display: none;
    }
    body{
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
    }
/* Custom animation class */
   /* ========================
   Hero Section
   ======================== */
   
 .feature-box {
  background-color: transparent;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15);
}

#about-text span {
  color: #ffffff !important;
}

@media screen and (max-width: 768px){
    .custom-img-one{
        width: 60%;  
    }
}


/* Remove margin for mobile (screens under 768px) */
@media (max-width: 768px) {
  .platform-description {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }
}
#skills, #about, #contact{
    scroll-margin-top: 180px; /* Adjust this to match the height of your header */
}
@media (max-width: 768px) {
  #skills {
    scroll-margin-top: 250px; /* Adjust this to match the height of your header */
}
}

.logo-container, .logo-container2 {
  background: linear-gradient(145deg, #282828, #000000); /* smooth dark blend */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), inset 0 0 8px rgba(255, 255, 255, 0.02);
  padding-bottom: 5px;
  border-radius: 5px;
  width: 120px;
  margin: 20px 10px;
  transition: all 0.5s ease;
  text-align: center;
}

.logo-container:hover, .logo-container2:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(255, 193, 7, 0.2);
}

.logo, .logo2 {
  height: 60px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
 
}

.logo-container figcaption, .logo-container2 figcaption, .logo-container-project figcaption  {
  color: #000000;
  background-color: #ffffff;
  
}

.logo-container-project{
    background: linear-gradient(145deg, #282828, #000000); /* Smooth dark background blend */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), inset 0 0 8px rgba(255, 255, 255, 0.02);
    padding-bottom: 5px;
    border-radius: 5px;
    width: 80px;
    margin: 0;
    margin-top: 0px;   
    transition: all 0.5s ease;
}

.logo-yellow {
    filter: brightness(0) saturate(100%) invert(84%) sepia(90%) saturate(330%) hue-rotate(360deg) brightness(65%) contrast(110%);
}


.logo-container.active, .logo-container2.active{
    box-shadow: 0 0 3px 1px #ffffff;
    transform: perspective(500px) rotateY(20deg) scale(1.1);
  }

.maincontainer1.show {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width: 768px) {
    .logo-container, .logo-container2{
        margin-top: 10px;
        justify-content: center; 
    } 
    .logo, .logo2{
        width: auto;
        margin-top: 10px;
        margin-bottom: 1px;
    } 
}
/* ========================
   Projects Section
   ======================== */
.techstack-item {
    display: inline-block;
    background-color: #ffc107
}
.project-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
  }
  .slide-track {
    display: flex;
    width: calc(250px * 8); /* Width = slide width * number of slides */
    animation: scroll 10s linear infinite;
  }
  .slide {
    width: 200px;
    height: 100px;
    margin: 0 5px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  /* Animation */
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
@media (max-width: 768px) {
    .techlist{
        font-size: 11px; 
    }
      .navbar, .custom-nav{
        display: none;
      }
      .custom-img-two{
        margin-top: 150px !important;      
      }
}
/* ========================
   Testimonials Section
   ======================== */
   .certification,.projecting {
    padding: 50px 20px;
    border-radius: 5px; /* Slightly larger for a more modern, rounded look */
    background-color: #131313; /* Dark background for contrast */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}
.certification:before, .testimoniala:before, .projecting:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: -1;
    border-radius: 15px;
}


.custom-certificate img{
    height: 250px;
    width: 100%;
}
/* ========================
   Contact Section
   ======================== */
.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} 
.backtotop img {
    width: 50px;          /* Set the width of the logo */
    height: auto;         /* Keep the aspect ratio */
    margin-bottom: 10px;
    padding: 0;
    margin-right: 20px;  
    filter: invert(1);    /* Invert the colors of the image */ 
}
.git{
    filter: invert(1);
}
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}
.backtotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100px);
}
.backtotop a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
}
.backtotop.show {
    opacity: 1;
    transform: translateY(0);
}
     /* ========================
   Drop down menu mobile Section
   ======================== */
/* Desktop Navigation Styles */
@media (min-width: 768px) {
    .menu-label, .menu-checkbox, .menu {
        display: none; /* Hide the mobile menu for larger screens */
    }
    .desktop-nav {
        display: block; /* Show desktop navigation */
    }
}

/* Mobile Navigation Styles */
@media screen and (max-width: 767px) {
    .desktop-nav {
        display: none; /* Hide desktop nav on mobile */
    }

    /* Mobile menu button (Hamburger) */
    .menu-label {
        font-size: 35px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 32px;
        right: 20px;
        color: #ffffff;
        font-weight: bold;
    }

    /* Hidden checkbox that controls the menu */
    .menu-checkbox {
        display: none;
    }

    /* Menu container (hidden by default) */
    .menu {
        display: none;
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        background: #000000;
        padding: 20px 10px;
        z-index: 999;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    /* List style inside the menu */
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'Arial', sans-serif;
    }

    /* Menu item styling */
    .menu ul li {
        margin: 15px 0;
    }

    .menu ul li a {
        color: #fff !important;
        text-decoration: none;
        display: block;
        font-size: 1.2rem;
        letter-spacing: 1px;
        padding: 10px 0;
        text-transform: uppercase; /* Letter design effect */
        
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
    }

    /* Hover effect for menu items */
    .menu ul li a:hover {
      color: #00bfa6;
        border-color:#00bfa6;
    }

    /* When the checkbox is checked, show the menu */
    .menu-checkbox:checked ~ .menu {
        display: block;
    }
}

